<div class="container mt-3">   
  <h2>List of restaurants</h2>

  <ul><% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
  <% end %>
  </ul>
</div>